<h2>Assignment</h2>

<h2>Question:1</h2>
<b>IP:&nbsp;&nbsp;</b><%= @public_ip %><br />
<b>IP:&nbsp;&nbsp;</b><%= @details %><br />


<h2>Question:2</h2>
<p>Write code to accept recipient email id and message from a screen and send email using SMTP .</p>
<p>Click on link below to collect email id and send mail</p>
<%= link_to 'Send Mail', send_mails_path %>

